


<html>


    <style>
        .comments {
            align-self: center;
        }
        .com {
            margin-left: 35%;
            width: 600px;
            height: 150px;
        }
    </style>

    <script>
        // jquery
        Login = $.cookie('log')
        Password = $.cookie('pass')

        async function get_comment(id) {
            comments = document.getElementById('comments')
            $.ajax({
                url: 'http://127.0.0.1:8000/post/get_comments?cid=' + id,     /* Куда пойдет запрос */
                method: 'get',                                                /* Метод передачи (post или get) */
                dataType: 'json',                                             /* Тип данных в ответе (xml, json, script, html). */
                success: function(data){                                      /* функция которая будет выполнена после успешного запроса.  */

                    for (var i = 0; i < data['comments'].length; i++) {
                        element = data['comments'][i];
                        
                        text = element['text']
                        dat = element['dat']
                        name = element['name']
                        parent = element['parent']
                        id = element['id']
                        console.log(element)

                        comment = `
                                    <div class = "com" id=${id}> 
                                    
                                        <p>${name}</p> 
                                        
                                        <p>${text}</p> 
                                        
                                        <p>${dat}</p>
                                    `

                        if (name == Login) {
                            comment += `<button onclick="delete_comment(${id})">Удалить</button>`
                            comment += `<button onclick="update_comment(${id})">Изменить</button>`
                        }                
                                    
                        comment += '</div>'

                        $('div.comments').add(comment).appendTo(comments)
                    }
                }
            });
        }

        async function delete_comment(id) {
            Login = $.cookie('log')
            Password = $.cookie('pass')


        }

        async function update_comment(id) {
            Login = $.cookie('log')
            Password = $.cookie('pass')
        }

    </script>

</html>


<!--'<div class = "com"> <p>' + dat + '</p> <p>' + text + '</p> <p>' + name + ' </p> </div>'-->