    <style>
        .comments {
            align-self: center;
        }
        .com {
            margin-left: 35%;
            margin-bottom: 1%;
            width: 600px;
            /* height: 150px; */
        }
    </style>