.grid{
    color: #33693c;
    font-size: 20px;
    display: grid;
    justify-content: center;
    grid-template-columns: 395.66px 395.66px 395.66px;
    grid-template-rows: 210px;
    margin-bottom: 40px;
}

.grid a {
    color: #44864f;
    opacity: 0.7;
    padding: 30px;
    transition: all 0.25s ease-in-out;
}

.grid a:hover{
    opacity: 1;
}

.grid-item {
    margin: 5px;
}

.grid-item a{
    margin: 5px;
    margin-bottom: 0px;
    text-decoration: none;
    padding-top: 28px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 13px;
}

.border{
    animation: pulsate 1.5s infinite alternate;  
    border: 2px solid #44864f;
    border-radius: 2rem;
    padding: 0.4em;
}

.grid-h6{
    padding-right: 180px;
    padding-top: 20px;
    margin-bottom: 12px;
    margin-top: 0px;
}

.href_text{
    padding-bottom: 10px;
}