



{% load static %}


<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static '/css/comments.css' %}">
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    {% include 'header.html' %}

</head>

<body>

    <div class="container p-4">
        
        <div class="container p-5 border">
            <div class="row justify-content-md-center p-1">
                <!-- <div class="card" style="width: 50rem;">
                    <div class="card-body"> -->
                    <h5>О нас</h5>
                    <p>Мы ученики ИКИТ.</p>
                    <p>Мы написали данный сайт в качестве курсовой работы по двум предметам.</p>
                    <p>Роли в нашей комманде были распределены следующим образом.</p>

                        <table class="table" style="align-self: center;">
                            <thead>
                                <tr>
                                <th scope="col">#</th>
                                <th scope="col">Роль</th>
                                <th scope="col">Участник</th>
                                </tr>
                            </thead>
                            <tr>
                                <th scope="row">1</th>
                                <td>Бэкэнд разработчик</td>
                                <td>Кожевников Иван</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Фронтэнд разработчик</td>
                                <td>Павел Потехин</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Проект мэнеджер</td>
                                <td>Алексей Ткачёв</td>
                            </tr>
                        </table>
                        
                        <p>Мы использовали GitHub для совместной работы над проектом и Discord для совещаний.</p>
                        <p>Все участники внёсли в проект свой вклад и смогли реализовать себя в процессе разработки.</p>
                        <p>Мы развили навыки коммандой работы, получили опыт работы c GitHub
                            и познакомились c фрэймвёрком Django, каждый попробовал себя в чём-то новом.</p>
                        <p>После работы над этим проектом мы увидели свои слабые стороны и теперь знаем какие навыки
                            развить чтобы усовершенствовать свои профессиональные компетенции.</p>

                    <!-- </div>
                </div> -->
            </div>
        </div>
    </div>
    <div class="container p-5"></div>
    {% include 'buttom.html' %}

</body>
</html>

