








{% load static %}
{% load sass_tags %}
<link href="{% sass_src 'css/theme.scss' %}" rel="stylesheet" type="text/css"/>


<div class="container-fluid sticky-sm-bottom ">
    <div class="row p-5 sticky-bottom mybottom">
        <h4 class="mytext">Контакты</h4>
        <ul>
            <li><h4><a class="mytext" href='https://github.com/Viktor-8bit/NewsSite'>Github</a></h4></li>
            <li><h4><a class="mytext" href='https://www.figma.com/file/oEnGj0biVRmjLDiXHrySVJ/Untitled?node-id=1-34&t=hG9COjllPPMJROUc-0'>Figma</a></h4></li>
        </ul>
    </div>
</div>