{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static '/css/post.css' %}">

</head>
<body>

      <h1 id='my_headr' align="center">Последние новости</h1>

      <div class="posts">

            {% for p in posts %}

              <div align="center" class="post">
                <h6 class="date-post">{{p.Datee}}</h6>
                <h4>{{p.Title}}</h4>
              </div>

            {% endfor  %}

      </div>

    </body>
</html>