<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InfoGroup</title>
    <link rel="shortcut icon" href="static/img/m_logo.ico">
    <link rel="stylesheet" href="static/css/sus.css">
    <style>
        @font-face{
            font-family:'TTNormsProRegular';
            src: url(static/otf/TTNormsProRegular.otf);
        }
    </style>
</head>
<body style="font-family: 'TTNormsProRegular';">
    <nav class="navbar">
        <div class="container">
            <img src="static/img/logo_test.png" class="logo_wrap"/>
            <div class="navbar-wrap">
                <ul class="navbar-menu">
                    <li><a href="#">О нас</a></li>
                    <li><a href="#jump">Контакты</a></li>
                    <li><a href="#">Категории</a></li>
                </ul>
                <ul class="callback">
                    <li><a href="http://127.0.0.1:8000/reg/" class="btn-flip" data-back="Регистрация" data-front="Регистрация"></a></li>
                    <li><a href="http://127.0.0.1:8000/log/" class="btn-flip" data-back="Вход" data-front="Вход"></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="header">
        <div class="head_container">
            <h2 class="header_title">АНАЛИЗИРУЕМ РИСКИ <p>НАХОДИМ ВОЗМОЖНОСТИ</p><p>ПРИНИМАЕМ РЕШЕНИЯ</p></h2>
        </div>
        <div class="header_overlay"></div>
    </header>
    
    <div style="height: 100vh;">
        <h2 align="center" style="color: #3c6346;">Последние новости</h2>
    </div>

    <div id="jump" class="cotacts" style="height: 20vh; background-color: #3b3b3b;" >
        <h2 class="com_bot" align="center" style="color: rgb(78, 136, 92);">Контакты</h2>
        <ul class="refer">
            <li><a href="https://github.com/Viktor-8bit/NewsSite" style="text-decoration: none; color: rgb(102, 184, 102); padding-right: 15px;">GitHub</a></li>
            <li><a href="https://www.figma.com/file/oEnGj0biVRmjLDiXHrySVJ/Untitled?node-id=1-34&t=hG9COjllPPMJROUc-0" style="text-decoration: none; color: rgb(102, 184, 102);">Figma</a></li>
        </ul>
    </div>
</body>
</html>