{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="csrf-token" content="{% csrf_token %}"> -->
    <title>News</title>
    <link rel="shortcut icon" href="{% static '/img/m_logo (1).ico'%}">
    <link rel="stylesheet" href="{% static '/css/single_post.css' %}">


    <script src="{% static '/js/jquery-3.6.3.js' %}" ></script>
    <link rel="stylesheet" href="{% static 'css/comments.css' %}">

    <script type="text/javascript" src="{% static '/js/cookie/jquery.cookie.js' %}"></script>

    <!-- <link rel="stylesheet" href="{% static '/css/sus.css' %}">  -->
    <style>
        @font-face{
            font-family:'TTNormsProRegular';
            src: url("{% static '/otf/TTNormsProRegular.otf'%}");
        }
    </style>
</head>
<body style="font-family: 'TTNormsProRegular';">
    <nav class="navbar">
        <div class="container">
            <img src="{% static '/img/logo_test (1).png'%}" class="logo_wrap"/>
            <div class="navbar-wrap">
                <ul class="navbar-menu">
                    <li><a href="#">О нас</a></li>
                    <li><a href="#jump">Контакты</a></li>
                    <li><a href="#">Категории</a></li>
                </ul>
                <ul class="callback">

                    {% if not user.is_authenticated %}

                        <li><a href="http://127.0.0.1:8000/reg/" class="btn-flip" data-back="Регистрация" data-front="Регистрация"></a></li>
                        <li><a href="http://127.0.0.1:8000/login/" class="btn-flip" data-back="Вход" data-front="Вход"></a></li>

                    {% else %}

                        <li><a href="http://127.0.0.1:8000/logout/?&redir=post/?%26postid={{post.id}}/" class="btn-flip" data-back="Выход" data-front="Выход"></a></li>
                        <li>{{ user.Login }}</li>

                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>

    <header class="header">
        
    </header>

    <div class="post">
        <div class="news-container">
            <div class="news-tab-items">
                <div class="block-1">
                    <H4>{{post.Datee}}</H4>
                </div>
                
                <div class="block-2">
                    <H3>{{post.Title}}</H3>
                </div>
                
                <div class="block-3">
                    <p>{{post.Text |safe}}</p>
                </div>
                
                <div class="block-4">
                    <H4><a class="categ-btn" href="category/?&cid={{post.CategoryID.id}}" style="text-decoration: none;">{{post.CategoryID.category}}</a></H4>
                    <!-- Автор: {{post.UserID.Login}} -->
                </div>
            </div>
        </div>
    </div>

        <form id="send_data" action="/post/?&postid={{post.id}}/" method="post">
            {% csrf_token %}
            
            <div align="center" class = 'form-group'>
                <p>Оставьте комментарий</p>
                {{ comentform.as_p }}
                <p class="error">{{ error }}</p>
                
                <button onclick='shadowlogin()' type="submit">Отправить</button>
            </div>
        </form>


    <div id="comments" class="comments"> </div>


    <div id="jump" class="cotacts" style="height: 20vh; background-color: #3b3b3b;" >
        <h2 class="com_bot" align="center" style="color: rgb(78, 136, 92);">Контакты</h2>
        <ul class="refer">
            <li><a href="https://github.com/Viktor-8bit/NewsSite" style="text-decoration: none; color: rgb(102, 184, 102); padding-right: 15px;">GitHub</a></li>
            <li><a href="https://www.figma.com/file/oEnGj0biVRmjLDiXHrySVJ/Untitled?node-id=1-34&t=hG9COjllPPMJROUc-0" style="text-decoration: none; color: rgb(102, 184, 102);">Figma</a></li>
        </ul>
    </div>
</body>


    <script type="text/javascript" src="{% static '/js/comment.js' %}"></script>

    <script>
        // const post_id = {{ post.id }}
        set_const_name('{{user.Login }}')
        get_comment( {{ post.id }} )
    </script>


</html>