{% load static %}
{% load sass_tags %}


<!DOCTYPE html>
<html>


<head>
    <script src="{% static '/js/cashe.js' %}" ></script>
    
    <link href="{% sass_src 'css/theme.scss' %}" rel="stylesheet" type="text/css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link type="text/css" href="{% static 'css/registration.css' %}" rel="stylesheet">
</head>

<body class="h-100 h-custom mybackground">
    {% include 'header.html' %}
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
          <div class="card rounded-3">
            <!-- достаём из кэша изображение -->
              <div id="imgcache"></div>
              <script>useCachedImage("")</script>
            <div class="card-body p-4 p-md-5">
                {% if error %}
                    <div name="alert" class="d-block p-2 bg-warning text-white">{{ error }}</div>
                {% endif %}
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Регистрация</h3>
  
              <form id="send_data" action="/reg/" method="post">
                {% csrf_token %}

                <div class="form-group row p-2">

                    <label for="colFormLabel" class="col-sm-2 col-form-label">Login</label>

                    <div class="col-sm-10">
                        {{ reg.Login }}
                    </div>

                </div>

                <div class="form-group row p-2">
                    <label for="colFormLabel" class="col-sm-2 col-form-label">Email</label>
                    
                    <div class="col-sm-10">
                        {{ reg.email }}
                    </div>

                </div>

                <div class="form-group row p-2">
                    <label for="colFormLabel" class="col-sm-2 col-form-label">Пароль</label>
                    
                    <div class="col-sm-10">
                        {{ reg.password }}     
                    </div>

                </div>

                <div class="form-group row p-2">
                    <label for="colFormLabel" class="col-sm-2 col-form-label">Повторите пароль</label>
                    <div align="center" class="col-sm-10">
                        {{ reg.password1 }}    
                    </div> 
                </div>
                <div class="row p-5">
                    <button name="sumbit" type="submit" class="btn btn-dark">Отправить</button>
                </div>
            </form>
  
            </div>
          </div>
        </div>
      </div>
    </div>
</html>
